body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000 0%, #011F38 50%, #000000 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    cursor: url("arrowhead.png"), default;
}

body.modo_claro {
    background: linear-gradient(to bottom, #fff1a0 0%, #67bffd 50%, #fff1a0 100%);

}

::-webkit-scrollbar {
    width: 8px;
    background-color: #7e7e7e;

}

::-webkit-scrollbar-thumb {
    background-color: #004b88;
    border-radius: 15px;
}


header {
    display: flex;
    padding-top: 3vh;
    width: 100%;
    color: white;
}


.menu {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.0);
    color: aliceblue;
    border: none;
    cursor: url("hand-pointer.png"), pointer;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    margin-right: 3%;
}

.div_menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 10px;
    z-index: 1;
    font-family: "Quicksand", sans-serif;

}


.div_menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.4s;
    background-color: #111;
    border-radius: 10px;
    cursor: url("hand-pointer.png"), pointer;
}

.div_menu a:hover {
    color: #f1f1f1;
    background-color: #353535;
    border-radius: 10px;
    cursor: url("hand-pointer.png"), pointer;
}

.div_menu .botao_fechar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;

}


.main-content {
    padding: 16px;
    transition: margin-left 0.5s;
}

.botao_claro_escuro {
    color: aliceblue;
    margin-right: 3vh;
    cursor: url("hand-pointer.png"), pointer;
}


h1 {
    font-family: "Nunito Sans", sans-serif;
    color: aliceblue;


}

p,
h2 {
    font-family: "Quicksand", sans-serif;
    color: aliceblue;
}

body.modo_claro p {
    color: rgb(0, 13, 24);
}

body.modo_claro h1 {
    color: rgb(0, 13, 24);
}

body.modo_claro h2 {
    color: rgb(0, 13, 24);
}

body.modo_claro button {
    color: rgb(0, 13, 24);
}

body.modo_claro .botao_claro_escuro {
    color: rgb(0, 13, 24);
}




.div_header {
    display: flex;
    width: 40%;
    height: 100px;
    align-items: baseline;
    padding-left: 3%;


}

.div_header2 {
    width: 60%;
}

.div_main1 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.div_main2 {
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 20vh;
}

.sub_div1 {
    width: 50%;
    height: 100%;
    text-align: justify;
    margin-left: 5vh;
    margin-right: 10vh;
}

.sub_div2 {
    width: 50%;
    height: 100%;
    margin-right: 5vh;
    margin-left: 10vh;
}

.sub_div2 img {
    border-radius: 10px;
}

.carroseu_total {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25vh;


}


.div_carroseu {
    display: flex;
    height: 360px;
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}

.carroseu {
    margin-top: 30px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carta {
    min-width: 180px;
    height: 300px;
    margin-right: 80px;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3) inset;
    transition: transform 0.3s ease;


}

.carta:hover {
    transform: translateY(-20px);
    transition: transform 0.3s ease-in;
    cursor: url("hand-pointer.png"), pointer;
}



.botao_volta,
.botao_vai {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    margin: 0 auto;

}


.botao_volta:hover,
.botao_vai:hover {
    background-color: #6d6d6d;
    transition: 0.4s;
    cursor: url("hand-pointer.png"), pointer;
}

footer {
    height: 200px;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.div_footer {
    width: 30%;
    padding-left: 3%;
    text-align: justify;
}

.text_link {
    font-family: "Quicksand", sans-serif;
    color: #008cff;
    text-decoration: none;
    cursor: pointer;
}

/* aprtir daqui eu começei a trabalhar a responsividade*/



@media screen and (max-width:1144px) {

    .div_carroseu {
        width: 840px;


    }

    .div_main2 img {
        width: 500px;
        height: 250px;
    }


}



@media screen and (max-width:884px) {
    .sub_div1 p {
        font-size: 15px;
    }

    .sub_div2 {
        margin-left: 3vh;
        margin-right: 3vh;
        padding-top: 5vh;

    }

    .div_main2 img {
        width: 350px;
        height: 175px;
    }

    .div_carroseu {
        width: 62%;
        margin: 0 auto;


    }



    .div_footer {
        width: 40%;
    }

}

@media screen and (max-width:735px) {
    .div_header {
        width: 60%;
        margin-bottom: 10vh;
    }

    .div_header2 {
        width: 40%;
    }

    .div_main1 {
        margin: 0;
        text-align: center;
        margin-bottom: 200px;
    }

    .div_main2 {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }

    .sub_div1 {
        width: 50%;
        margin-left: 0;
        text-align: justify;
        margin: 0 auto;
    }

    .sub_div1 h2 {
        text-align: center;
        font-size: 23px;
    }

    .sub_div2 {
        width: 100%;
        margin-left: 0px;
        text-align: center;
        margin: 0 auto;

    }

    .sub_div2 img {
        width: 375px;
        height: 187.5px;
    }


    .div_carroseu {
        width: 200px;
    }

    footer {
        width: 100%;
        text-align: center;
    }

    .div_footer {
        margin: 0 auto;
        width: 50%;
        text-align: justify;
    }

    .div_footer h2 {
        text-align: center;
    }
}

@media screen and (max-width:540px) {
    .sub_div2 img {
        width: 340px;
        height: 170px;
    }
}

@media screen and (max-width:430px) {


    .div_main1 {
        margin-bottom: 200px;
    }

    .sub_div1 {
        width: 80%;
    }

    .sub_div1 h2 {
        font-size: 23px;
    }

    .sub_div2 img {
        width: 300px;
        height: 150px;
    }

    .div_footer {
        width: 60%;
    }
}

@media screen and (max-width:390px) {

    .div_header {
        width: 90%;

    }

    .div_header2 {
        width: 10%;
    }
}

@media screen and (max-width:375px) {

    .sub_div1 h2 {
        font-size: 22px;
        text-align: center;
    }

    .sub_div1 p {
        font-size: 16px;
    }

    .sub_div2 img {
        width: 250px;
        height: 125px;
    }

    .div_footer p,
    h3 {
        font-size: 14px;
    }
}

@media screen and (max-width:320px) {
    .div_header {
        width: 90%;
    }

    .div_header2 {
        width: 10%;
    }

    .div_footer {
        width: 90%;
    }
}